:root {
  --brand-color: #463f3c;
  --secondary-color: #f2504f;
  --font-family: "Raleway", sans-serif;
}

.hero {
  background: var(--brand-color);
  padding: 160px 20px;
}

.container {
  background: var(--brand-color);
  text-align: center;
  margin: 20px;
  padding: 25px;
  width: 100%;
}

a {color: var(--secondary-color);}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }

  h2 {
    font-size: 44px;
  }

  h4 {
    font-size: 28px;
  }
  .hero {
    padding: 80px 20px;
  }
}

body {
  background: var(--brand-color);
  display: block;
  margin: auto;
  width: 100%;
}

h1 {
  font-size: 100px;
  font-weight: bold;
  color: #ffffff;
}

h3 {
  font-size: 80px;
  color: #bbcbce;
}
h4 {
  color: #bbcbce;
}

img {
  display: block;
  margin: 0 auto;
  width: 250px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
}

a {color:#ffffff;}

.row {
  padding: 40px 20px;
}

.about-me {text-align: center;
margin-top: 10px;}

.custom-btn {
  color: #ffffff;
  border-radius: 10px;
  border: 1px solid var(--secondary-color);
  margin: 40px 5px;
}

.expert {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  color: #ffffff;
  width: 100%;3
}
