:root {
  --brand-color: #463f3c;
  --secondary-color: #f2504f;
  --font-family: "Raleway", sans-serif;
}

body {
  background: var(--brand-color);
}

.hero {
  background-color: var(--brand-color);
  padding: 160px 20px;
}

.container {
  background-color: var(--brand-color);
  text-align: center;
  padding: 5px;
  width: 100%;
}

.container a {
  color: var(--secondary-color);
  font-size: 14px;
}

h1 {
  font-size: 100px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  margin-top: 10px;
}

h3 {
  font-size: 80px;
  color: #bbcbce;
}
h4 {
  color: #bbcbce;
}

img {
  display: block;
  margin: 0 auto;
  width: 250px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
}

@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 2;
  }

  h2 {
    font-size: 44px;
  }

  h4 {
    font-size: 28px;
  }
  .hero {
    padding: 40px 20px;
  }
}

.row {
  padding: 40px 20px;
}

.custom-btn {
  color: #ffffff;
  border-radius: 10px;
  border: 1px solid var(--secondary-color);
  margin: 40px 5px;
}

.experience {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 30px;
  color: var(--secondary-color);
}

.container nav {
  padding: 5px;
  margin: 10px;
  font-size: 14px;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  color: #ffffff;
  margin-left: 10px;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: #ffffff;
}

nav a:hover,
nav li:active {
  color: var(--secondary-color);
  transition: all 150ms ease-in-out;
}

footer {
  margin-top: 40px;
  border-top: 1px solid #ffffff;
  padding: 20px;
}

footer h4 {
  margin-top: 15px;
}

footer .social-links a {
  margin: 10px;
  color: var(--secondary-color);
  background: #ffffff;
  padding: 10px 14px;
  font-size: 14px;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}

footer .social-links a:hover {
  background: var(--secondary-color);
  color: #ffffff;
}
